@import url("https://fonts.googleapis.com/css?family=Montserrat:100");

@font-face {
    font-family: "coolvetica";
    src: url("../fonts/coolvetica_rg.otf");
}

@font-face {
    font-family: "coolvetica_codensed";
    src: url("../fonts/coolvetica_condensed_rg.otf");
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: 'coolvetica_codensed', sans-serif;
    letter-spacing: 2px;
    background: #111111;
    overflow: hidden;
    touch-action: none; 
}

body {
    color: #a8a8a8;
    font: Montserrat, sans-serif;
    font-weight: 300;
}

.word-spacing {
    margin-right: 35px; /* Hier kannst du den gewünschten Abstand einstellen */
}

.letter {
    opacity: 0;
    /* animation: fadeIn 3s ease forwards; */
  }

  .show {
    opacity: 0;
    animation: fadeIn 4s ease forwards;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(100px); /* Optional: Einen leichten Fade-in-Effekt hinzufügen */
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }


/* Disables this annoying hyperlink styling */
a:link {
    color: rgb(124, 180, 184);
    background-color: transparent;
    text-decoration: none;
 }
 a:visited {
    color: rgb(91, 139, 115);
    background-color: transparent;
    text-decoration: none;
 }
 a:active {
    color: rgb(182, 182, 119);
    background-color: transparent;
 }

a {
    height: 25px;
    letter-spacing: 10px;
    position: absolute;
    top: 40px;
    left: 15px;
}

.canvasParticle {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

div#header {
    z-index: 20;
    width: 100%;
    left: 0px;
    letter-spacing: 5px;
    padding-left: 0px;
    padding-top: 0px;
    position: absolute;
    top: 0px;
    height: 30px;
    opacity: 0;
}

.fadeInAnimation {
    animation: fadeIn 5s ease-in-out forwards;
}
@keyframes fadeIn {
    to {
      opacity: 1;
    }
}

.caption {
    max-width: 400px;
    height: 30px;
    letter-spacing: 10px;
    backdrop-filter: blur(4px);
    font-size: 24pt;
    margin-top: 0;
    margin-left: 15px;
}


div#header h1 {
    text-align: left;
    font-size: 200%;
    font-weight: 400;
    margin-top: 0%;
    margin-left: 15px;
}



.container_Footer {   
    z-index: 21;
    position: fixed;
    max-height: 20%;
    min-height: 30px;
    bottom: 0px;
    width: 100%;
}

.divSwitchButtons {
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
}

.labelSwitchButtons {
    margin-right: 2px; 
}

.divMediaButtonsParent {
    width: 100%;
    display: flex;
    justify-content: center;
}

.divMediaButtons {
    width: fit-content;
    backdrop-filter: blur(4px);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.mediaButtons {
    cursor: pointer;
    width: 35px;
    margin-left: 5px;
    margin-right: 5px;
    opacity: 0.5;
}

.mediaButtons:hover {
    opacity: 1;
}

.mediaButtons:active {
    opacity: 1;
}

.footer {
    background-color: #010101a2;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-bottom: 15px;
    padding-top: 0px;
    backdrop-filter: blur(4px);
}


.footerContent {
    margin: 0px;
    height: 25px;
}


.centered-max-div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 20px;
    font-size: 24pt;
}

.centered-max-div2 {
    position: absolute;
    top: calc(50% + 20px); /* 50% der Höhe plus 10px Abstand */
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 14pt;
    letter-spacing: 3px;
    color: #555555; 
    animation: fadeIn1 3s ease-in-out 1s forwards;
    opacity: 0;
}

@keyframes fadeIn1 {
    to {
      opacity: 1;
    }
}